.container{
    margin-top: 4%;
}

.form-control{
    border-color: rgba(0,0,0,0.5);
    box-shadow: 1px 1px rgba(0,0,0,0.5);
}

h1{
    text-align: center;
}

input[type="submit"]{
    border: 1px solid black;
    background:transparent;
    transition: 0.5s all;
}

input[type="submit"]:hover{
    background-color: black;
    color:white;
}