.navbar{
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid black;
}

.nav-link{
    padding-left: 5px!important;
    transition: 0.2s all;
}

.nav-link:hover{
    background-color: rgba(0,0,0,.7);
    color:#f8f9fa!important;
    transition: 0.2s all;
}

body{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}