{% extends 'base.html' %}
{%load static%}
{%block title%}Khronium - Additional Information{%endblock%}
{%block additionalMetaData%}
    <link rel="stylesheet" href="{%static 'css/additionalInformation.css'%}" type="text/css">
{%endblock%}
{%block body%}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 order-md-1 d-flex align-items-center">
                <div>
                    <h1>General Information</h1>
                    <h2><i class="fas fa-info-circle"></i></h2>
                    <p>Get started with Khronium, a simple personal manager, which comes with three built in modules.
                    These modules will allow everyone to administer their personal time, multiple projects and to take care of their mind and exhaustion.
                    Read below to find out more.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 order-lg-1">
                <img src="{%static 'images/Management.jpg'%}" alt="Management">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 col-lg-6 order-lg-1">
                <img src="{%static 'images/Time-Management.jpg'%}" alt="Time Management">
            </div>
            <div class="col-md-12 col-lg-6 order-md-1 d-flex align-items-center">
                <div>
                    <h1>Time Management</h1>
                    <h2><i class="far fa-clock"></i></h2>
                    <p>With the time management module you will be able to create and keep track of multiple tasks on a daily basis.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 col-lg-6 order-md-1 d-flex align-items-center">
                <div>
                    <h1>Project Management</h1>
                    <h2><i class="fas fa-tasks"></i></h2>
                    <p>The project manager will provide anybody with boards which allows the creation of multiple custom lists and tasks to faccilitate your needs.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 order-lg-1">
                <img src="{%static 'images/Project-Management.jpg'%}" alt="Project Management">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 col-lg-6 order-lg-1">
                <img src="{%static 'images/Psychological-management.jpg'%}" alt="Psychological Management">
            </div>
            <div class="col-md-12 col-lg-6 order-md-1 d-flex align-items-center">
                <div>
                    <h1>Mind and Exhaustion Management</h1>
                    <h2><i class="fas fa-brain"></i></h2>
                    <p>The mind and exhaustion management module will provide users with two forms. 
                       The first one will analyze how depressed you are through a scale called the <em>"Montgomery–Åsberg Depression Rating Scale"</em>.
                       The latter will provide you with another scale named <em>"Karolinska Exhaustion Disorder Scale"</em> which will analyze how exhausted you are. 
                       Both of them will provide you with the feedback and guidance to resolve these problems.
                    </p>
                </div>
            </div>
        </div>
    </div>
{%endblock%}