{%extends 'base.html'%}
{%load static%}
{%block title%}Khronium - ResetPassword{%endblock%}

{%block additionalMetaData%}
<link rel="stylesheet" href="{%static 'css/login.css'%}" type="text/css">
{%endblock%}
{%block body%}
<div class="container fadeInDown">
    <form action="{%url 'resetPasswordConfirm' token=token  %}" method="POST">
        {%csrf_token%}
        <div class="col-lg-12 fadeIn first">
            <h1>Reset Password</h1>
        </div>
        <div class="col-lg-12 fadeIn second">
            <div class="form-group">
                {{form.password}}
            </div>
        </div>
        <div class="col-lg-12 fadeIn third">
            <div class="form-group">
                {{form.passwordConfirm}}
            </div>
        </div>
        {%if message != NULL%}
        <div class="col-lg-12 fadeIn third">
            <div class="form-group">
                <p style="color:red;">{{message}}</p>
            </div>
        </div>
        {%endif%}
        {% if expired == True%}
        <div class="col-lg-12 fadeIn fourth">
            <input id="noHover" type="Submit" value="Submit" disabled style='border: 1px solid gray;'>
        </div>
        {%else%}
        <div class="col-lg-12 fadeIn fourth">
            <input type="Submit" value="Submit">
        </div>
        {%endif%}
    </form>
</div>
{%endblock%}