{%extends 'base.html'%}
{%load static%}
{%block title%}Kronium - Sign Up{%endblock%}

{%block additionalMetaData%}
    <link rel="stylesheet" href="{%static 'css/register.css'%}" type="text/css">
{%endblock%}

{%block body%}
<form action="{%url 'signUp'%}" method="POST">
    {%csrf_token%}
    <div class="container fadeInDown">
        <div class="row">
            <div class="col-lg-12">
                <h1>Sign Up</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{ userForm.username }}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{ userForm.email }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{userForm.first_name}}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{userForm.last_name}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    {{ accountForm.age }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{userForm.password1}}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{userForm.password2}}
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-flex justify-conent-center fadeIn eight">
            <div class="form-group">
                {{errors}}
            </div>
        </div>
        {%if message != None%}
            <div class="col-lg-12">
                <div class="form-group">
                    <p class="fadeIn eight" style="color:red;text-align:center;">{{message}}</p> 
                </div>
            </div>
            <input class="fadeIn ninth"type="Submit" value="Submit">
        {%else%}
            <input class="fadeIn ninth"type="Submit" value="Submit">
        {%endif%}
    </div>
</form>
{%endblock%}