{%extends 'base.html'%}
{%load static%}
{%block title%}Kronium - Sign Up{%endblock%}

{%block additionalMetaData%}
    <link rel="stylesheet" href="{%static 'css/register.css'%}" type="text/css">
{%endblock%}

{%block body%}
<form action="{%url 'signUp'%}" method="POST">
    {%csrf_token%}
    <div class="container fadeInDown">
        <div class="row">
            <div class="col-lg-12">
                <h1>Sign Up</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{ userForm.username }}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{ userForm.email }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{userForm.first_name}}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{userForm.last_name}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    {{ accountForm.age }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{userForm.password1}}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    {{userForm.password2}}
                </div>
            </div>
        </div>
        <input class="fadeIn eight"type="Submit" value="Submit">
    </div>
    
    
</form>
{%endblock%}