{%extends 'base.html'%}
{%load static%}

{%block title%}Khronium - {{board.title}}{%endblock%}
{%block additionalMetaData%}
<link rel="stylesheet" href="{%static 'css/projectBoards.css'%}" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{%endblock%}

{%block body%}
<h4 id="boardTitle">Board Title : {{board.title}}</h4>
<div class="board d-flex align-items-start">
    {%if lists != None%}
        {%for list in lists%}
            <div class="list">
                <div class="d-flex justify-content-between">
                    <h5>{{list.title|capfirst}}</h5>
                    <button class="deleteList" value="{{list.id}}"><i class="fas fa-trash-alt"></i></button>
                </div>
                <ul id="listItems-{{list.id}}" class="connectedSortable">
                    {%if items != None%}
                        {%for item in items%}
                            {%if list == item.unorderedList%}
                                <div class="card">
                                    <div class="card-body">
                                        <p>{{item.text}}</p>
                                        <button class="editItem"><i class="fas fa-pen"></i></button>
                                        <button class="deleteItem" value="{{item.id}}"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                    <div class="editItemTab card-body">
                                        <textarea  cols="35" rows="3" placeholder="">{{item.text}}</textarea>
                                        <div class="listButtons">
                                            <button class="editItemButton" value="{{item.id}}">Edit Item</button>
                                            <button class="x2">X</button>
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                        {%endfor%}
                    {%endif%}
                </ul>
                <button class="AddItems">Add Items</button>
                <div class="itemInput">
                    <textarea  cols="43" rows="2" placeholder="Enter Text"></textarea>
                    <div class="listButtons">
                        <button class="addItem" value="{{list.id}}">Add Item</button>
                        <button class="x">X</button>
                    </div>
                </div>
            </div>
        {%endfor%}
    {%endif%}
    <div id="specialList">
        <h5>Add a new list</h5>
        <div id="addButton">
            <button id="addList"><i class="fas fa-plus"></i> - Add</button>
        </div>
        <div id="input">
            <input id="inputListName" type="text" placeholder="List Name">
            <div class="d-flex justify-content-between">
                <button id="Add">Add</button>
                <button id="X">X</button>
            </div>
        </div>
    </div>
</div>
{{id}}
{%endblock%}

{%block scripts%}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/projectBoards.js' %}"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    $("#Add").click(function(){
    let listName = $("#inputListName").val()
    if (listName !== "")
    {
        $.post('/boards/{{board.id}}/addList/',
            {
                'csrfmiddlewaretoken':csrftoken,
                'listName':listName,
            }
        )
        // $("#specialList").before("<div class=\"list\"><div class=\"d-flex justify-content-between\"><h5>"+listName+"</h5><button class=\"deleteList\" value=\"{{list.id}}\"><i class=\"fas fa-trash-alt\"></i></button>
        //         </div>
        //         <ul class=\"listItems\">
        //         </ul>
        //         <button class=\"AddItems\" value="{{list.id}}">Add Items</button>
        //         <div class="itemInput">
        //             <textarea  cols="42" rows="2"></textarea>
        //             <div class="listButtons">
        //                 <button class="addItem">Add Item</button>
        //                 <button class="x">X</button>
        //             </div>
        //         </div>
        //     </div>");
        $(".itemInput").css("display","none")
    }
    })
    $(document).on("click",".deleteList",function(){
        let listId = $(this).attr("value")
        $.post("/boards/{{board.id}}/deleteList/",{
            'csrfmiddlewaretoken':csrftoken,
            'listId':listId,
        });
        $(this).parent().parent().remove()
    });

    $(document).on("click",".addItem",function(){
        let listId = $(this).attr("value");
        let itemText = $(this).parent().prev().val()
        $.post("/boards/{{board.id}}/addItem/",{
            'csrfmiddlewaretoken':csrftoken,
            'listId':listId,
            'itemText':itemText,
        });
    //     $(this).parent().parent().prev().prev().append("<div class=\"card\">
    //                                 <div class=\"card-body\">
    //                                     <p>{{item.text}}</p>
    //                                     <button class=\"editItem\"><i class=\"fas fa-pen\"></i></button>
    //                                     <button class=\"deleteItem\" value=\"{{item.id}}\"><i class=\"fas fa-trash-alt\"></i></button>
    //                                 </div>
    //                                 <div class=\"editItemTab card-body\">
    //                                     <textarea  cols=\"35\" rows=\"3\">{{item.text}}</textarea>
    //                                     <div class=\"listButtons\">
    //                                         <button class=\"editItemButton\" value=\"{{item.id}}">Edit Item</button>
    //                                         <button class="x2">X</button>
    //                                     </div>
    //                                 </div>
    //                             </div>")
    // });

    $(document).on("click",".editItemButton",function(){
        let itemId = $(this).attr("value");
        let editedText = $(this).parent().prev().val();
        console.log(itemId)
        console.log(editedText)
        $.post("/boards/{{board.id}}/updateItem/",{
            'csrfmiddlewaretoken':csrftoken,
            'itemId':itemId,
            'editedText':editedText,
        });
        let editTab = $(this).parent().parent();
        editTab.slideUp(200,function(){
            $(this).css("display","none");
            $(this).prev().children(":first").text(editedText);
            $(this).prev().slideDown(200,function(){
                $(this).css("display","block");
            });
        });
    });

    $(document).on("click",".deleteItem",function(){
        let itemId = $(this).attr("value")
        $.post("/boards/{{board.id}}/deleteItem/",{
            'csrfmiddlewaretoken':csrftoken,
            'itemId':itemId,
        });
        $(this).parent().remove()
    });

    $( function() {
    $( "{%if lists != None %}{%for list in lists%}{%if forloop.last%}#listItems-{{list.id}}{%else%}#listItems-{{list.id}},{%endif%}{%endfor%}{%endif%}" ).sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();
    } );
</script>
{%endblock%}