{%extends 'base.html'%}
{%load static%}

{%block additionalData%}
<link rel="stylesheet" href="{%static 'css/projectBoards.css'%}" type="text/css">
{%endblock%}

{%block body%}
<div class="board">
    <div class="list">
        <button class="addList">Add new list</button>
    </div>
    <div class="list">
        <button class="addList">Add new list</button>
    </div>
    <div class="list">
        <button class="addList">Add new list</button>
    </div>
</div>
{%endblock%}

{%block scripts%}

{%endblock%}